<Suite name="Vtiger Automation" verbose="3">

<Groups>
<run>
<include name ="smoke"/>
<include name ="Regression"/>
</run>
</Groups>
<test>
</test>




	<test>

		<!--<packages>

<package name ="vtigercrm.com.acs.vtigercrm.testscripts">
</package>

</packages>
-->

		<classes>

			<class name="vtigercrm.LoginPageTests">
				<run>
					<Methods>
						<include name="verifyValidLogin" />
						<include name="" />
						<exclude name="verifyInvalidLogin" />

					</Methods>
				</run>

			</class>
             //If you don't have child and inner text then you can remore ending tag just use a forward slash' 
            <class name="vtigercrm.LeadPageAutomationScripts" /> 
        </classes>

	</test>

</Suite>